.section6{
    grid-area: section6;
    display: grid;
    grid-template-areas: 
    'col1 col2 col3'
    ;
    gap: 2rem;
    background-color: var(--light-black-color);
    padding: 1rem 2rem;
    color: white;
    min-height: 14rem;
}
.section6 .col1{
    grid-area: col1;
}
.section6 .col2{
    grid-area: col2;
}
.section6 .col3{
    grid-area: col3;
}
.section6 .col1,
.section6 .col2,
.section6 .col3{
    flex-direction: column;
    align-items: center;
}

.section6 .col1 img{
    width: 22rem;
}
.section6 .col1 p,
.section6 .col2 p:nth-child(2),
.section6 .col3 .footerLinks span
{
    font-size: 1.4rem;
}
.section6 .col2 p:nth-child(1),
.section6 .col3 p:nth-child(1)
{
    font-size: 2.3rem;
}
.section6 .col1 p,
.section6 .col2 p:nth-child(2),
.section6 .col3 .footerLinks{
    margin-top: 2rem;
}
.section6 .col3 .footerLinks{
    width: 80%;
    line-height: 1.8rem;
    justify-content: space-between;
}
