.section1{
    max-width: 100%;
    border: 2px solid red;
    grid-area: section1;
    padding: 1rem 3rem;
}
.headerSection{
    max-width: 100%;
    display: grid;
    grid-template-columns: 22rem auto 10rem;
}
.headerSection .col1 img{
    width: 100%;
}
.headerSection .col2{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
}
.headerSection .col2 .ulContainer{
    border: 1px solid;
    width: 58rem;
    font-size: 1.6rem;
}
.headerSection .col2 .ulContainer ul{
    display: flex;
    width: 73%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.headerSection .col2 .login_logout_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.headerSection .col2 .login_logout_section .loginBtn{
    width: 16rem;
}
.headerSection .col2 .login_logout_section .registerBtn{
    width: 20rem;
}
.headerSection .col3{
    border: 1px solid;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.headerSection .col3 img{
    border: 1px solid;
}