.section1{
    max-width: 100%;
    grid-area: section1;
    min-width: 30px;
}
.headerContainer {
    padding: 1rem;
    justify-content: space-around;
    box-shadow: 0rem 0.1rem 0.1rem -0.1rem #313640;
}

.headerContainer .headerBox {
    background-color: inherit;
    justify-content: space-around;
    flex-grow: .5;
    position: relative;
    z-index: 1;
}

.headerContainer .logoContainer, .headerContainer .sideBarLogo {
    width: 22rem;
}

.headerContainer .logoContainer img,
.headerContainer .sideBarLogo img 
{
    width: 100%;
}

.headerContainer .ulContainer {
    width: 29rem;
}
 
.headerContainer .ulContainer ul li:nth-child(1):after,
.headerContainer .ulContainer ul li:nth-child(2):after,
.headerContainer .ulContainer ul li:nth-child(3):after,
.headerContainer .ulContainer ul li:nth-child(4):after {
    content: '';
    width: 0;
    height: 0.2rem;
    position: absolute;
    background-color: var(--primary-color);
    top: 6rem;
    transition: all .7s;
}

.headerContainer .ulContainer ul li:nth-child(1):after {
    left: 41rem;
}

.headerContainer .ulContainer ul li:nth-child(2):after {
    left: 51rem;
}

.headerContainer .ulContainer ul li:nth-child(3):after {
    left: 63.8rem;
}

.headerContainer .ulContainer ul li:nth-child(2):hover::after,
.headerContainer .ulContainer ul li:nth-child(3):hover::after,
.headerContainer .ulContainer ul li:nth-child(3):hover::after {
    width: 8rem;
}

.headerContainer .ulContainer ul li:nth-child(1):hover::after {
    width: 6rem;
}

.login_logout_section {
    width: 30rem;
    justify-content: space-around;
}

.registerBtn,
.loginBtn {
    font-weight: 400;
    background-color: var(--primary-color); 
    border-radius: .2rem;
    padding: .8rem 2rem;
}

.loginBtn {
    background-color: var(--secondary-color);
    padding: .8rem 1rem;
}
.registerBtn a,
.loginBtn a{
    color: white;
}
 .darkSwitch {
    border: 1px solid;
    font-size: 2rem;
    width: 8rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: white;
    justify-content: flex-start;
}
.darkSwitch .circle{
    margin-left: -4rem;
}
.darkSwitch span{
    font-size: 1.6rem;
    font-weight: 600;
}
.darkSwitch .dark{
    opacity: 0;
}
.darkSwitch .light{
    margin-left: 1rem;
}
.circleMoveRight{
    margin-left: 1rem ;
    animation: marginLeft 1s;
}
.circleMoveLeft{
    margin-left: 1rem ;
    animation: removeMarginLeft 1s;
}

@keyframes marginLeft{
    from{
        margin-left: -4rem;
    }
    to{
        margin-left:1rem;
    }
}
@keyframes removeMarginLeft{
    from{
        margin-left: 1rem;
    }
    to{
        margin-left:-4rem;
    }
}

.visible {
    opacity: 1 !important;
    transition: 1s;
}

.nonVisible {
    opacity: 0 !important;
    transition: 1s;
}
.sideBar{
    font-size: 3rem;
}
.sideBarDivContainer{
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    width: 24rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: revert;
    overflow: hidden;
}
.sideBarDivContainer .col{
    height: 45rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sideBarDivContainer .col .sideBarUl{
    flex-direction: column;
    height: 28%;
    font-size: 1.8rem;
    align-items: center;
}
.sideBarDivContainer .col .login_logout_section{
    width: 18rem;
    height: 11rem;
    flex-direction: column;
}
.sideBarDivContainer .col .login_logout_section .registerBtn{
    background-color: var(--secondary-color);
}
.barMarginShow{
    margin-right: 24rem;
    animation: barMarginAnim1 1s;
}
.barMarginHide{
    margin-right: 0rem;
    animation: barMarginAnim2 1s;
}
.sideBarDivContainerShow{
    animation: sideBarDivContainerAnim1 1s;
}
.sideBarDivContainerHide{
    animation: sideBarDivContainerAnim2 1s;
}
@keyframes barMarginAnim1 {
    from{
        margin-right: 0rem;
    }
    to{
        margin-right: 24rem;
    }
}
@keyframes barMarginAnim2 {
    from{
        margin-right: 24rem;
    }
    to{
        margin-right: 0rem;
    }
}
@keyframes sideBarDivContainerAnim1 {
    from{
        width: 0rem;
    }
    to{
        width: 24rem;
    }
}
@keyframes sideBarDivContainerAnim2 {
    from{
        width: 20rem;
    }
    to{
        width: 0rem;
    }
}