.section3{
    grid-area: section3;
    display: grid;
    width: 90%;
    margin: auto;
    gap: 3rem;
    grid-template-areas:
    'col1'
    'col2'
    'col3'
    'col4'
    'col5'
    ;
}
.section3 .col1{
    grid-area: col1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20rem;
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.section3 .col1 small{
    font-size: var(--fs-sm);
    font-weight: 700;
}
.section3 .col1 p:nth-child(2){
    font-size: var(--fs-xl);
    letter-spacing: var(--ls-xl);
}
.section3 .col1 p:last-child{
    font-size: var(--fs-md);
}
.section3 .col2{
    grid-area: col2;
    display: grid;
    grid-template-areas:
    'img1 img2 img3'
    ;
}
.section3 .col2 .img1{
    grid-area: img1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.section3 .col2 .img1 img,
.section3 .col2 .img3 img
{
    width: 24rem;
}
.section3 .col2 .img1 p,
.section3 .col2 .img3 p
{
    font-size: var(--fs-md);
    line-height: var(--lh-md);
    width: 50%;
    text-align: center;
}
.section3 .col2 .img2{
    grid-area: img2;
}
.section3 .col2 .img3{
    grid-area: img3;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.section3 .col3{
    grid-area: col3;
    max-width: 80%;
    margin: auto;
    font-size: var(--fs-md2);
    text-align: center;
    line-height: 3rem;
}
.section3 .col4{
    grid-area: col4;
}
.section3 .col5{
    grid-area: col5;
    max-width: 90%;
    margin: auto;
    flex-direction: column;
    min-height: 25rem;
    justify-content: space-between;
}
.section3 .col5 p:nth-child(1){
    font-size: var(--fs-xl);
    letter-spacing: var(--ls-md);
}
.section3 .col5 p:nth-child(2){
    text-align: center;
    font-size: var(--fs-md2);
    line-height: var(--lh-md);
    letter-spacing: var(--ls-md);
}
.section3 .col5 p:nth-child(3){
    font-size: var(--fs-sm);
    letter-spacing: var(--ls-md);
    font-weight: 800;
    text-align: center;
}