.section4 {
    grid-area: section4;
    width: 80%;
    gap: 6rem;
    padding-top: 1rem;
    margin: auto;
    display: grid;
    grid-template-areas:
        'col1'
        'col2'
        'col3'
        'col4'
        'col5'
    ;
}

.section4 .col1 {
    font-size: 4rem;
}

.section4 .img {
    width: 18rem;
    position: relative;
}

.section4 .text {
    position: relative;
}

.section4 .img img {
    width: 100%;
    position: relative;
}

.section4 .col2,
.section4 .col4 {
    justify-content: flex-start;
}

.section4 .col3,
.section4 .col5 {
    justify-content: flex-end;
}

.section4 .text {
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section4 .col2 .text,
.section4 .col4 .text {
    align-items: flex-start;
}

.section4 .col3 .text,
.section4 .col5 .text {
    align-items: flex-end;
}

.section4 .col4 .text {
    min-height: 21rem;
}

.section4 .col5 .text {
    min-height: 24rem;
}

.section4 .text p:first-child {
    font-weight: 600;
    font-size: 2.5rem;
}

.section4 .text p:nth-child(2) {
    width: 63%;
    font-size: 1.7rem;
}

.section4 .col4 .text p:nth-child(2),
.section4 .col5 .text p:nth-child(2) {
    width: 39%;
    font-size: 1.7rem;
}

.section4 .count {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    background: black;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 50%;
    z-index: 2;
}

.section4 .col2 .button1,
.section4 .col3 .button1,
.section4 .col5 .button1 {
    width: 20rem;
    background-color: inherit;
}

.section4 .col4 .button1 {
    width: 13rem;
    background-color: inherit;
}

.section4 .button1 {
    border: .2rem solid var(--primary-color);
    color: var(--primary-color);
}

/* steps lines */
.section4 .col2,
.section4 .col3,
.section4 .col4,
.section4 .col5 {
    position: relative;

}
.section4 .col2::after,
.section4 .col2 .count::after,
.section4 .col2 .img::after,
.section4 .col3 .img::before,
.section4 .col3 .img::after,
.section4 .col3 .count::after,
.section4 .col3 .count::before,
.section4 .col3::after,
.section4 .col4 .img::after,
.section4 .col4 .img::before,
.section4 .col4 .count::after,
.section4 .col4 .count::before,
.section4 .col4::after,
.section4 .col5 .img::before,
.section4 .col5 .count::before {

    position: absolute;
    content: '';
    border: .1rem solid var(--light-black-color);
    border-style: dashed;
}

.section4 .col2 .img::after,
.section4 .col4 .img::after,
.section4 .col4 .img::before,
.section4 .col3 .img::before,
.section4 .col3 .img::after,
.section4 .col5 .img::before{
    border: none;
    background-color: var(--blue-color) !important;
}
.section4 .col2::after,
.section4 .col3::after,
.section4 .col4::after{
    width: 100%;
    bottom: -3rem;
    z-index: 0;
}

.section4 .col2 .count::after,
.section4 .col4 .count::after,
.section4 .col4 .count::before,
.section4 .col5 .count::before {
    width: 11rem;
    transform: rotate(90deg);
    top: 10.4rem;
    left: -3.7rem;
}

.section4 .col2 .img::after,
.section4 .col4 .img::after,
.section4 .col4 .img::before {
    width: 40rem;
    height: 5.2rem;
    top: 22.6rem;
    left: -18.2rem;
    z-index: 1;
}
.section4 .col3 .img::before,
.section4 .col3 .img::after,
.section4 .col5 .img::before
{    
    width: 40rem;
    height: 5.2rem;
    top: -5.4rem;
    left: -3.6rem;
    z-index: 1;
}
.section4 .col3 .img::after{    
    top: 16.4rem;
}
.section4 .col3 .count::before,
.section4 .col3 .count::after{
    width: 8rem;
    transform: rotate(90deg);
    top: -4.5rem;
    left: -1.9rem;

}
.section4 .col3 .count::after{
    top: 9rem;
}
.section4 .col4 .img::before{
    left: -18.2rem;
}
.section4 .col4 .img::before{
    top: -7.4rem;
}
.section4 .col4 .img::after{
    top: 20.6rem;
}
.section4 .col4 .count::before{   
    top: -5.9rem;
}
.section4 .col4::after{
    top: 24.3rem;
    z-index: 0;
}
.section4 .col5 .count::before{ 
    width: 11.6rem;  
    top: -6.4rem;
}
.section4 .col5 .img::before
{    
    top: -10.3rem;
    left: -3.8rem;
}