.section4 {
    grid-area: section4;
    width: 80%;
    gap: 6rem;
    padding-top: 1rem;
    margin: auto;
    display: grid;
    grid-template-areas:
        'col1'
        'col2'
        'col3'
        'col4'
        'col5'
    ;
}

.section4 .col1 {
    font-size: 4rem;
}

.section4 .img {
    width: 18rem;
    position: relative;
}

.section4 .text {
    position: relative;
}

.section4 .img img {
    width: 100%;
    position: relative;
}

.section4 .col2,
.section4 .col4 {
    justify-content: flex-start;
}

.section4 .col3,
.section4 .col5 {
    justify-content: flex-end;
}

.section4 .text {
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section4 .col2 .text,
.section4 .col4 .text {
    align-items: flex-start;
}

.section4 .col3 .text,
.section4 .col5 .text {
    align-items: flex-end;
}

.section4 .col4 .text {
    min-height: 21rem;
}

.section4 .col5 .text {
    min-height: 24rem;
}

.section4 .text p:first-child {
    font-weight: 600;
    font-size: 2.5rem;
}

.section4 .text p:nth-child(2) {
    width: 63%;
    font-size: 1.7rem;
}

.section4 .col4 .text p:nth-child(2),
.section4 .col5 .text p:nth-child(2) {
    width: 39%;
    font-size: 1.7rem;
}

.section4 .count {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    background: black;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 50%;
}

.section4 .col2 .button1,
.section4 .col3 .button1,
.section4 .col5 .button1 {
    width: 20rem;
    background-color: inherit;
}

.section4 .col4 .button1 {
    width: 13rem;
    background-color: inherit;
}

.section4 .button1 {
    border: .2rem solid var(--primary-color);
    color: var(--primary-color);
}

/* steps lines */
/* .section4 .col2 .img::before,
.section4 .col4 .img::after,
.section4 .col4 .img::before,
.section4 .col2 .text::after,
.section4 .col4 .text::after,
.section4 .col3 .img::before,
.section4 .col3 .text::after,
.section4 .col3 .count::before,
.section4 .col5 .count::before,
.section4 .col5 .img::after{
    content: '';
    position: absolute;
}
.section4 .col2 .img::before,
.section4 .col4 .img::after
{
    width: 66%;
    top: 17.5rem;
    transform: rotate(90deg);
    left: 16rem;
}
.section4 .col4 .img::after{
    top: 8.8rem;
    width: 156%;
    left: 7.5rem;
}
.section4 .col4 .img::before{
    height: 9rem;
    width: 295%;
    left: -28.3rem;
    top: -8.8rem;
}
.section4 .col2 .text::after,
.section4 .col4 .text::after {
    width: 185%;
    top: 20.3rem;
    left: -4rem;
    z-index: -1;
}
.section4 .col4 .text::after {
    top: 23.9rem;
    width: 100%;
}
.section4 .col3 .img::before
 {
    width: 61%;
    top: 14.5rem;
    transform: rotate(90deg);
    left: -9.6rem;
    z-index: -1;
}
.section4 .col3 .count::before,
.section4 .col5 .count::before
 {
    width: 260%;
    top: -4.5rem;
    transform: rotate(90deg);
    left: -3.4rem;
    z-index: -1;
}
.section4 .col5 .count::before{
    width: 349%;
    left: -5.4rem;
    top: -5.5rem;
}
.section4 .col3 .img::after,

.section4 .col5 .img::after {
    content: '';
    height: 4rem;
    position: absolute;
    width: 200%;
    top: -5.2rem;
    left: -4.1rem;
    z-index: 1;
    background-color: var(--blue-color);
}
.section4 .col5 .img::after {
    top: -10.2rem;
}
.section4 .col3 .text::after { 
    height: 6rem;
    width: 160%;
    top: 19.3rem;
    right: -4.1rem;
}
.section4 .col2 .img::before,
.section4 .col4 .img::before,
.section4 .col3 .img::before,
.section4 .col3 .count::before,
.section4 .col5 .count::before,
.section4 .col2 .text::after,
.section4 .col4 .text::after,
.section4 .col3 .text::after
{
    height: .2rem;
    background-color: var(--light-black-color);
    
} */
.section4 .col4 .img::before,
.section4 .col5 .img::after,
.section4 .col3 .img::after {
    /* height: 2rem; */
    /* background-color:var(--blue-color); */
    /* background-color: yellow; */
}

.section4 .col2 {
    position: relative;

}

.section4 .col2::after,
.section4 .col2 .count::after,
.section4 .col2 .img::after {

    position: absolute;
    content: '';
}

.section4 .col2::after {
    background-color: green;
    width: 100%;
    height: .2rem;
    bottom: -3rem;
    z-index: 0;
}

.section4 .col2 .count::after {
    background-color: green;
    width: 13rem;
    height: 0.2rem;
    transform: rotate(90deg);
    top: 9.6rem;
    left: -4.6rem;
}

.section4 .col2 .img::after {
    background-color: yellow;
    width: 40rem;
    height: 5.2rem;
    top: 22.6rem;
    left: -18.1rem;
    z-index: 1;
}