
.testimonial {
    width: 65%;
    margin: auto;
    flex-direction: column;
}

.testimonial .heading {
    font-size: var(--fs-xl);
}
.testimonial .commaImg1 {
    justify-content: flex-start;
}

.testimonial .commaImg2 {
    justify-content: flex-end;
}

.testimonial .commaImg1 img,
.testimonial .commaImg2 img {
    width: 4.5rem;
}

.testimonial .commaImg1 img {
    transform: rotate(180deg);
}

.testimonial .testimonialTextContainer {
    display: flex;
    width: 85rem;
    margin: auto;
    overflow: hidden;
}

.testimonial .testimonialTextContainer .testimonialSlider {
    display: flex;
    position: relative;
    left: 0;
    transition: all 1s;
}

.testimonial .testimonialTextContainer .testimonialSlider .testimonialContent {
    line-height: var(--lh-sm);
    width: 85rem;
}
.testimonial .testimonialText {
    font-size: var(--fs-sm);
    text-align: center;
    letter-spacing: var(--ls-xl);
}

.testimonialContent .testimonialUser {
    padding-top: 1rem;
}

.testimonial .testimonialContent .testimonialUser p {
    font-size: var(--fs-sm);
}

.testimonial .testimonialDots {
    padding-top: 2rem;
    margin: auto;
    width: 7rem;
    justify-content: space-around;
}

.testimonial .testimonialDots .dot {
    background-color: var(--primary-color);
}

.section5 .col1 p {
    color: white;
}

.section5 .col3 {
    width: 90%;
    margin: auto;
    flex-direction: column;
    min-height: 20rem;
    justify-content: space-around;
}

.section5 .col3 p:nth-child(1) {
    font-size: var(--fs-md2);
}

.section5 .col3 p:nth-child(2) {
    font-size:var(--fs-md);
    letter-spacing: var(--ls-md);
    text-align: center;
}

.section5 .col3 .buttons {
    width: 43rem;
    justify-content: space-between;
}

.section5 .col3 .buttons .button1 {
    width: 20rem;
}

.section5 .col3 .buttons .requestDemo {
    border: .2rem solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.section5 .col3 .buttons .getStarted {
    border: .2rem solid var(--primary-color);
    background-color: inherit;
}

.section5 .col3 .buttons .requestDemo:hover {
    transition: .7s;
    background-color: inherit;
    color: var(--secondary-color);
}