body {
    background-color: #0E1525;
}

.headerContainer {
    background-color: #0E1525;
}

.headerContainer .ulContainer ul li a {
    color: white;
}

.registerBtn,
.loginBtn,
.registerBtn a,
.loginBtn a,
.slider,
.footer,
.footer p,
.stepsSection .steps .count,
.headerBox .darkSwitch,
.sideBar {
    color: white;
}
.infoText .socialLinks small {
    color: blue;
}

.section2 .myAbout,
.section2 .group2,
.section2 .group3,
.testimonialSection,
.stepsSection .heading,
.group1 .part1,
.group1 .part3,
.section5 .group2 p:nth-child(2),
.infoText .subHeading1 {
    color: white;
}

.myAbout p:nth-child(1),
.copy,
.testimonialSection .reviewer h3:nth-child(2),
.section5 .group2 p:nth-child(1),
.section5 .group2 .btns .button1:nth-child(1) {
    color: white;
}

.stepsSection .steps .btn {
    color: white;
}

p {
    color: white !important;
}

h1 {
    color: white !important;
}

.section2 span {
    color: white;
}

/* register login css */
.container .section1 .text {
    color: white;
}

.container .section2 {
    background-color: inherit;
}

.container .section2 .group1 input {
    color: white;
    border: .2rem solid white;
}

.container .section1 {
    background-color: inherit;
}

.container .section2 {
    color: white;
}

.container .section2 .group1 input {
    color: white;
    border: .2rem solid white;
}