.darkSwitch {
    height: 2rem;
    border-radius: 50%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.moon{
   /* color: white; */
   font-size: 2.3rem;
   text-shadow: .1rem .2rem .3rem white;
}
.sun{
    color: #ffc23d;
    font-size: 2rem;
}
.sunBlock{
    opacity: 1;
    transform: translateY(-2px);
    animation: showSunAnim;
    animation-duration: .2s;
}
@keyframes showSunAnim {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2px);
    }
}