/* header css */
.headerContainer .ulContainer ul a{
    color: var(--light-black-color);
}
/* section2  */
.section2 .textSection .col1 p{
    color: var(--light-black-color);
}
.section2 .textSection .col5 small{
    color: var(--secondary-color);
}
/* sideBarDiv */
.sideBarDivContainer .col .sideBarUl li a{
    color: white;
}
/* section3 */
.section3 .col1 p:nth-child(1){
    color: var(--secondary-color);
}
.section3 .col1 p:nth-child(2),
.section3 .col1 p:last-child
{
    color: var(--light-black-color);
}
.section3 .col2 .img1 p,
.section3 .col2 .img3 p{
    color: var(--light-black-color);
}
.section3 .col3{
    color: var(--light-black-color);
}
.section3 .col5{
    color: var(--light-black-color);
}
/* section4 */
.section4 .col1 p{
    color: var(--light-black-color);
}
.section4 .col2 .button1,
.section4 .col3 .button1,
.section4 .col4 .button1,
.section4 .col5 .button1 {
    border: .2rem solid var(--primary-color);
    color: var(--primary-color);
}