/* header css */
.headerContainer .ulContainer ul a{
    color: var(--light-black-color);
}
/* section2  */
.section2 .textSection .col1 h1{
    color: var(--light-black-color);
}
.section2 .textSection .col5 small{
    color: var(--secondary-color);
}