@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body.darkTheme {
    font-size: 62.5%;
    --primary-color: rgb(229, 80, 80);
    --secondary-color: rgb(41, 99, 224);
    --light-black-color: white;
    background-color: #0E1525;
}
body {
    overflow-x: hidden;
    --primary-color: rgb(229, 80, 80);
    --secondary-color: rgb(41, 99, 224);
    --light-black-color: #313640;
    background-color: white;
}
.primaryColor {
    color: var(--primary-color);
}
.secondaryColor {
    color: var(--secondary-color);
}
.lightBlackColor{
    color: var(--light-black-color);
}
.ligh
.root {
    max-width: 4000px;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.font1 {
    font-family: 'Trocchi', serif;
}

.font2 {
    font-family: 'Merriweather', serif;
}
.button1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 1.5rem 0rem;
    color: white;
    font-size: 1.8rem;
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    cursor: pointer;
}
 ul {
    font-weight: 400;
    font-size: 1.6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
a {
    text-decoration: none;
}

.letterSpacing {
    letter-spacing: .1rem;
}
.hide{
    display: none !important;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hoverPrimaryColor:hover{
    transition: .7s;
    background-color: var(--primary-color) !important;
    color: white !important;
}
.fixed {
    position: fixed;
    width: 86%;
    top: 0;
    z-index: 5;
    padding-top: 1rem;
}

.headerBoxFixed {
    padding-top: .8rem !important;
    padding-bottom: .1rem !important;
}
.headerBoxFlex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 22rem;
    height: 100vh;
    flex-direction: column;
    background: var(--primary-color) !important;
    display: none;
}
