@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}
/* changes acolor to dark theme */
body.darkTheme {
    overflow-x: hidden;
    --light-black-color: white;
    background-color: #0E1525;
    --white-background-color: #0E1525;
}

body {
    overflow-x: hidden;
    --primary-color: rgb(229, 80, 80);
    --secondary-color: rgb(41, 99, 224);
    --light-black-color: #313640;
    --white-background-color: white;
        background-color: rgba(122, 132, 219, 0.014);
}
.root{
    max-width: 3500px;
    min-width: 300px;
    display: grid;
    gap: 4rem;
    grid-template-areas: 
    'section1'
    'section2'
    'section3'
    'section4'
    'section5'
    'section6'
    ;
}
.primaryColor {
    color: var(--primary-color);
}

.secondaryColor {
    color: var(--secondary-color);
}

.lightBlackColor {
    color: var(--light-black-color);
}

.ligh .root {
    max-width: 4000px;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.font1 {
    font-family: 'Trocchi', serif;
}

.font2 {
    font-family: 'Merriweather', serif;
}
.font3{
    font-family: 'Nunito', sans-serif;
}
.button1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 1.5rem 0rem;
    font-size: 1.8rem;
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    cursor: pointer;
}

ul {
    font-weight: 400;
    font-size: 1.6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
}

.letterSpacing {
    letter-spacing: .1rem;
}

.hide {
    display: none !important;
}

.opacity {
    opacity: 1 !important;
    transform: scale(1.5,1.5);
}

.visible {
    opacity: 1 !important;
    transition: 1s;
}

.nonVisible {
    opacity: 0 !important;
    transition: 1s;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoverPrimaryColor:hover {
    transition: .7s;
    background-color: var(--primary-color) !important;
    color: white !important;
}

.fixed {
    position: fixed;
    width: 86%;
    top: 0;
    z-index: 5;
    padding-top: 1rem;
}

.headerBoxFixed {
    padding-top: .8rem !important;
    padding-bottom: .1rem !important;
}

.headerBoxFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 22rem;
    height: 100vh;
    flex-direction: column;
    background: var(--primary-color) !important;
    display: none;
}