@media screen and (max-width: 761px) {
    .container {
      flex-direction: column;
      max-height: fit-content;
    }
  
    .container .section1 {
      max-height: 45rem;
    }
  
    .container .section1 img {
      max-width: 25rem;
    }
  }
  @media screen and (max-width: 550px) {
    .container .section2 .midSection {
      margin-bottom: -4rem;
    }
    .section5 .slider .dashboardImagesSlider .img1,
    .section5 .slider .dashboardImagesSlider .img2,
    .section5 .slider .dashboardImagesSlider .img3 {
      width: 38.5rem;
    }
  }