@media screen and (max-width:1147px) {
    .section1 .col1 .logoContainer img {
        width: 20rem;
    }
}

@media screen and (max-width:922px) {
    .section1 .col1 .logoContainer img {
        width: 23rem;
    }
}

@media screen and (max-width:830px) {
    .section1 .col1 .logoContainer img {
        width: 28rem;
    }
}

@media screen and (max-width:800px) {
    .sideBarList {
        width: 24rem;
    }

    .iconsInfo {
        font-size: 2.7rem;
    }

    .sideBarList .iconsContainer i {
        font-size: 4rem;
    }

    .contentContainer {
        margin-top: 2rem;
    }

    .section1 .col1 .Menu {
        font-size: var(--fs-xl);
    }

    .section1 .col1 .logoContainer img {
        width: 31rem;
    }

    .section2 .col1 {
        display: none;
    }

    .section2 {
        grid-template-areas: 'col2';
    }

    .section2 .col2 .visits1,
    .section2 .col2 .visits2,
    .section2 .col2 .visits3,
    .section2 .col2 .visits4 {
        max-width: 30rem;
    }

    .section2 .col2 .visits1 #totalMeetingCount,
    .section2 .col2 .visits2 #positiveReviewCount,
    .section2 .col2 .visits3 #negativesReviewsCount,
    .section2 .col2 .visits4 #avgMeetingsCount {
        padding: 6rem 6.9rem;
    }

    .section3 {
        grid-template-areas:
            'group1'
            'group2';
    }

    .section4 {
        grid-template-areas:
            'group1'
            'group2';
    }

    :root {
        --fs-sm: 2.7rem;
        --fs-sm2: 2.3rem
    }

}

@media screen and (max-width:630px) {
    .contentContainer {
        margin-top: 4rem;
    }

    .section1 .col1 .logoContainer img {
        width: 35rem;
    }

    .section2 .col2 {
        grid-template-areas: 'visits1 visits2'
            'visits3 visits4';
        gap: 1rem;
    }

    .section2 .col2 .visits1,
    .section2 .col2 .visits2,
    .section2 .col2 .visits3,
    .section2 .col2 .visits4 {
        max-width: 56rem;
        justify-content: space-between;
    }
}

@media screen and (max-width:500px) {
    .section1 .col1 .logoContainer img {
        width: 25rem;
    }

    .section2 {
        width: 85%;
    }

    :root {
        --fs-sm: 2.3rem;
        --fs-sm2: 1.6rem
    }
}

@media screen and (max-width:499px) {
    /* adding width to new logo */
    .section1 .col1 .logoContainer{
        width: 9rem;
        overflow: hidden;
    }
    .section1 .col1 .logoContainer img {
        width: 17rem;
    }
    .section2, .section3, .section4{
        width: 80%;
        margin: auto;
    }
    .section2 .col2 {
        grid-template-areas: 'visits1'
            'visits2'
            'visits3'
            'visits4';
        gap: 1rem;
    }

    :root {
        --fs-sm: 1.7rem;
        --fs-sm2: 1.2rem
    }
}

