@media screen and (max-width: 950px) {
    .section2 {
        grid-template-areas:
            'col2'
        ;
    }

    .section2 .col1 {
        display: none;
    }

    .section2 .col2 {
        grid-template-areas: 'visits1 visits2 visits3 visits4';
    }

    .section2 .col2 .visits1,
    .section2 .col2 .visits2,
    .section2 .col2 .visits3,
    .section2 .col2 .visits4 {
        min-width: 100%;
        justify-content: space-between;
    }

    .section2 .col2 .visits1 #totalMeeting,
    .section2 .col2 .visits2 #positiveReview,
    .section2 .col2 .visits3 #negativesReview,
    .section2 .col2 .visits4 #avgMeetings {
        font-size: 2.3rem;
    }

    .section2 .col2 .visits1 #totalMeetingCount,
    .section2 .col2 .visits2 #positiveReviewCount,
    .section2 .col2 .visits3 #negativesReviewsCount,
    .section2 .col2 .visits4 #avgMeetingsCount {
        padding: 6rem 5.9rem;
        font-size: 2.6rem;
    }
    .section2 .col2 .visits3 #negativesReviewsCount{
        padding: 6rem 4.9rem;
    }
    .section1 .col1 .Menu {
        font-size: 3.5rem;
    }

    .section1 .col1 .logo img {
       max-width: 22rem;
    }

    .section1 .col2 .col2Container {
        min-width: 40rem;
    }

    .section1 .col2 .col2Container {
        font-size: 3.5rem;
    }

    .section1 .col2 .col2Container #signOutBtn {
        font-size: 2rem;
    }

    .section1 .col2 img {
        width: 8rem;
    }
    .section3{
        grid-template-areas: 
        'group2 group1'
        ;
    }
}
@media screen and (max-width: 885px) {
    .section1 .col1 .logo img {
       max-width: 22rem;
    }
}