@media screen and (max-width: 3842px) {
    .headerContainer .logoContainer {
        width: 21rem;
    }
}

@media screen and (max-width: 2560px) {
    .headerContainer .logoContainer {
        width: 26rem;
    }
}

@media screen and (max-width: 1368px) {
    .headerContainer .logoContainer {
        width: 19rem;
    }
}

@media screen and (max-width: 1046px) {
    .headerContainer .logoContainer {
        width: 23rem;
    }
}

@media screen and (max-width: 831px) {

    /* footer links*/
    .section6 .col3 .footerLinks {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 765px) {
    .headerContainer .logoContainer {
        width: 30rem;
    }
}

@media screen and (max-width: 665px) {
    .headerContainer .logoContainer {
        width: 33rem;
    }

    .section2 {
        top: 15rem;
    }
}

@media screen and (max-width: 550px) {
    .headerContainer .logoContainer {
        width: 37rem;
    }
}

@media screen and (max-width: 500px) {
    .headerContainer .logoContainer {
        width: 28rem;
    }

    .root {
        gap: 11rem
    }

    .section2 {
        grid-template-areas:
            'textSection'
            'mainImgSection'
        ;
    }

    .section2 .textSection {
        align-items: center;
    }

    .section2 .textSection .col3 {
        text-align: center;
    }

    .section2 .textSection .col5 {
        width: 15rem;
        height: 12rem;
    }

    .section2 .textSection .col5 small {
        text-align: center;
    }

    .section2 .textSection .col5 .gmail,
    .section2 .textSection .col5 .outlook {
        width: 5rem;
    }

    .section3 {
        width: 100%;
        gap: 4rem;
    }

    .section3 .col1 {
        width: 95%;
        min-height: 24rem;
    }

    .section3 .col2 {
        grid-template-areas: 'img1'
            'img2'
            'img3';
        gap: 3rem;
    }

    .section3 .col2 .img2 img {
        width: 5rem;
    }

    .section3 .col4 img {
        width: 3rem;
    }

    .section4 .col2::after,
    .section4 .col2 .count::after,
    .section4 .col2 .img::after,
    .section4 .col3 .img::before,
    .section4 .col3 .img::after,
    .section4 .col3 .count::after,
    .section4 .col3 .count::before,
    .section4 .col3::after,
    .section4 .col4 .img::after,
    .section4 .col4 .img::before,
    .section4 .col4 .count::after,
    .section4 .col4 .count::before,
    .section4 .col4::after,
    .section4 .col5 .img::before,
    .section4 .col5 .count::before {
        display: none;
    }

    .section4 .count {
        display: none;
    }

    .section4 .col2,
    .section4 .col3,
    .section4 .col4,
    .section4 .col5 {
        border-bottom: 1px solid var(--light-black-color);
        padding-bottom: 2rem;
    }

    .section4 .col2,
    .section4 .col4 {
        flex-direction: column;

    }

    .section4 .col3,
    .section4 .col5 {
        flex-direction: column-reverse;
    }

    .section4 .col2 .text,
    .section4 .col4 .text,
    .section4 .col3 .text,
    .section4 .col5 .text {
        margin-top: 2rem;
        align-items: center;
    }

    .section5 .slider .dashboardImageContainer {
        width: 48.5rem;
    }

    .section5 .slider .dashboardImagesSlider .img1,
    .section5 .slider .dashboardImagesSlider .img2 {
        width: 48rem;
    }

    .section5 .slider .dashboardImagesSlider .img3,
    .testimonial .testimonialTextContainer ,
    .testimonial .testimonialTextContainer .testimonialSlider .testimonialContent {
        width: 45rem;
    }
}