body {
    background-color: rgba(0, 0, 0, 0.041);
}

.section1 {
    grid-area: section1;
    display: grid;
    grid-template-areas:
        'col1 col2'
    ;
    min-height: 7rem;
    padding: 1rem 1rem 0rem 1rem;
    /* background-color: var(--white-background-color); */
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}

.section1 .col1 {
    grid-area: col1;
    justify-content: flex-start;
}

.section1 .col1 .Menu {
    font-size: 2.5rem;
    color: white;
}

.section1 .col1 .logo img {
    width: 20rem;
    margin-left: 2rem;
}

.section1 .col2 {
    grid-area: col2;
    justify-content: flex-end;
}

.section1 .col2 .col2Container {
    min-width: 14rem;
    justify-content: space-between;
    font-size: 2rem;
}
.section1 .col2 .col2Container i{
    color: white;
}
.section1 .col2 img {
    width: 7rem;
    border-radius: 50%;
}

/* section2 */
.section2 {
    grid-area: section2;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-areas:
        'col1 col2 col2'
    ;
    margin-bottom: 2rem;
}

.section2 .col1 {
    grid-area: col1;
    flex-direction: column;
    align-items: flex-start;
    /* background: white; */
    padding: 1rem;
    max-width: 34rem;
    border-radius: 0.6rem;
    background-color: var(--secondary-color);

}

.section2 .col1 .Image_text {
    display: flex;
    font-size: 2rem;
    align-items: center;
    font-weight: 600;
}

.section2 .col1 .Image_text img {
    width: 6rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.section2 .col1 p:last-child {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.2rem;
    color: white;
}

.section2 .col2 {
    grid-area: col2;
    display: grid;
    grid-template-areas:
        'visits1 visits2 visits3 visits4'
    ;
}

.section2 .col2 .visits1 {
    grid-area: visits1;
}

.section2 .col2 .visits2 {
    grid-area: visits2;
}

.section2 .col2 .visits3 {
    grid-area: visits3;
}

.section2 .col2 .visits4 {
    grid-area: visits4;
}

.section2 .col2 .visits1,
.section2 .col2 .visits2,
.section2 .col2 .visits3,
.section2 .col2 .visits4{
    justify-content: space-between;
    padding: 0rem 0.8rem;
    font-size: 2.5rem;
    max-width: 16rem;
    border-radius: 1rem;
    color: var(--secondary-color);
    /* background-color: var(--secondary-color); */
    background-color: white;
}
/* section3 */
.section3{
    grid-area: section3;
    /* border: 0.1rem solid; */
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}
.section3 .col1{
    font-size: 1.6rem;
    font-weight: 600;
}
.section3 .col2 .data-table{
    border-collapse: collapse;
    font-size: 1.9rem;
    margin: 2rem 0rem;
    width: 100%;
    align-self: center;
}
.data-table thead th{
    text-align: left;
    padding: 1rem 0rem;
    border-bottom: .1rem solid var(--light-black-color);
}
.data-table tbody td{
    padding: 1rem 0rem;
    font-weight: 800;
}
