.section2 {
    grid-area: section2;
    width: 93%;
    margin: auto;
    display: grid;
    grid-template-areas:
        'col1 col2 col2'
    ;
    margin-bottom: .7rem;
}

.section2 .col1 {
    grid-area: col1;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    max-width: 30rem;
    border-radius: 0.6rem;
    background-color: var(--secondary-color);
    box-shadow: 0.1rem 0.1rem 1rem 0rem rgba(122, 132, 219, 0.705);
}

.section2 .col1 .Image_text {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.section2 .col1 .Image_text img {
    width: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.section2 .col1 p {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 1.2rem;
    color: white;
}

.section2 .col2 {
    grid-area: col2;
    display: grid;
    grid-template-areas:
        'visits1 visits2 visits3 visits4'
    ;
    gap: 1rem;
}

.section2 .col2 .visits1 {
    grid-area: visits1;
}

.section2 .col2 .visits2 {
    grid-area: visits2;
}

.section2 .col2 .visits3 {
    grid-area: visits3;
}

.section2 .col2 .visits4 {
    grid-area: visits4;
}

.section2 .col2 .visits1,
.section2 .col2 .visits2,
.section2 .col2 .visits3,
.section2 .col2 .visits4 {
    max-width: 18rem;
    border-radius: .5rem;
    color: white;
    background-color: #313640fb;
    box-shadow: 0.3rem 0.3rem 1rem 0rem #313640a1;
}

.section2 .col2 .visits1 i,
.section2 .col2 .visits2 i,
.section2 .col2 .visits3 i,
.section2 .col2 .visits4 i {
    padding: 1rem;
    font-size: 1.3rem;
    border: 1px solid;
    border-radius: 3rem;
    background-color: rgba(229, 80, 80, 0.15);
}
.section2 .col2 .visits1 #totalMeeting,
.section2 .col2 .visits2 #positiveReview,
.section2 .col2 .visits3 #negativesReview, 
.section2 .col2 .visits4 #avgMeetings
{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5rem;
}

.section2 .col2 .visits1 #totalMeetingCount,
.section2 .col2 .visits2 #positiveReviewCount,
.section2 .col2 .visits3 #negativesReviewsCount,
.section2 .col2 .visits4 #avgMeetingsCount
 {
    border-top-left-radius: 14rem;
    padding: 4rem 3.9rem;
    background: var(--secondary-color);
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    font-size: 2.6rem;
}

.section2 .col2 .visits3 #negativesReviewsCount {
    padding: 4rem 3.4rem;
}