.sideBarList {
    position: fixed;
    top: 7rem;
    left: 0;
    bottom: 0;
    width: 16rem;
    z-index: 4;
    justify-content: flex-start;
    background: var(--white-background-color);
}

.sideBarList .iconsContainer,
.iconsInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 95%;
    background-color: rgba(19, 27, 99, 0.030);
}

.sideBarList .iconsContainer {
    padding: 0rem .8rem;
    box-shadow: .4rem 0.2rem 2rem -1.7rem var(--secondary-color);
}

.iconsInfo {
    align-items: baseline;
    width: 0;
    overflow: hidden;
    font-weight: 800;
    transition: width .4s;
    box-shadow: 1.1rem 0.2rem 2rem -1.7rem var(--secondary-color);
}

.show {
    width: 100%;
    transition: width .2s;
    padding: 0rem .8rem;
}

.sideBarList .iconsContainer i {
    font-size: 2rem;
}

.iconsInfo {
    font-size: 1.7rem;
}

.stat1Text:hover,
.stat2Text:hover,
.stat3Text:hover,
.helpText:hover,
.feedbackText:hover,
.profileText:hover {
    transition: .2s;
    color: var(--secondary-color);
}

.boxShadowRemove {
    box-shadow: none !important;
}