.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
    border-bottom-right-radius: 89rem;
}

.crystal1,
.crystal2,
.crystal3 {
    position: fixed;
    width: 15rem;
    background: rgb(29, 78, 211);
    top: 3rem;
    left: 47rem;
    height: 12rem;
    border-radius: 2rem;
    transform: rotate(45deg);
}

.crystal2 {
    left: 3rem;
    bottom: -2rem;
    top: 30rem;
    width: 11rem;
}

.crystal3 {
    width: 10rem;
    height: 9rem;
    top: 35rem;
    left: 70rem;
}

.container .section1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container .section2 {
    height: 100%;
    flex-direction: column;
    padding: 4rem 0rem;
    width: 38rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 2rem;
    margin-right: 9rem;
    box-shadow: 0.2rem 0rem 4rem 0rem black;
}

.section1 .logo img {
    width: 14rem;
    margin: 1rem;
}

.section1 .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section1 .image img {
    width: 50rem;
}
.section2 .group1 {
    height: 14rem;
}

.section2 .account-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 21rem;
    min-width: 25rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--secondary-color);
}
.section2 .account-section .heading1 {
    font-size: 2rem;
    font-weight: 700;
}
.account-section .google,
.account-section .facebook {
    background-color: rgb(44, 90, 218);
    display: flex;
    min-width: 25rem;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    font-size: var(--fs-sm);
    color: white;
    box-shadow: 0.3rem 0.3rem 1rem 0rem #1f20223d
}
.google .googleImg, .facebook .facebook-img{
    background-color: rgb(255, 255, 255);
    padding: .7rem;
}
.google .text, .facebook .text{
    padding-right: 2rem;
}
.section2 .dashboard-section {
    min-height: 32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.section2 .dashboard-section .group1 input {
    height: 4rem;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 1rem;
}
.section2 .dashboard-section .group1 .email,
.section2 .dashboard-section .group1 .password{
    border: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section2 .dashboard-section .group1 input::placeholder {
    color: var(--light-black-color);
}
.section2 .dashboard-section .group1 .emailIcon,
.section2 .dashboard-section .group1 .key-icon{
    font-size: var(--fs-sm);
    background-color: var(--secondary-color);
    color: white;
    padding: .9rem;
}
.account-section .google img {
    background: white;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2.5rem;
}

.section2 .account-section .facebook {
    margin-top: 0rem;
    background-color: rgb(211, 29, 74);
}

.section2 .account-section h1 {
    margin-top: 1rem;
}

.section2 .dashboard-section .group1 {
    flex-direction: column;
    justify-content: space-around;
}

.section2 .dashboard-section .checkBox {
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section2 .dashboard-section p:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
}

.section2 .button1 {
    width: 9rem;
    padding: .7rem;
    color: white;
    box-shadow: 0.3rem 0.3rem 1rem 0rem #5c071d7c
}

.section2 .register-section {
    flex-direction: column;
}

.section2 .register-section p:nth-child(1) {
    font-size: var(--fs-sm2);
    margin-bottom: 1rem;
}